<div class="container-fluid">
    <div class="row col-xs-10 col-xs-offset-1">
        <div class="text-center dealFolderDiv" style="padding: 10px 20px 10px 20px;">
            <h3>Deal Folder Creation</h3>

            <div class="row">
                <h4>Deal being created...</h4>
                <h4>Please wait</h4>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12"  style="padding-top: 20px; text-align: center">
                <img src="assets/images/spinner.gif">
            </div>
        </div>
    </div>
</div>